extends layout

block content
  h1(style="color: #ffc0cb")=title
   body(style="background-color: #ffe4e1")

  form(method='POST')
    div.form-group
      label(for='book') 書籍:
      select#book.form-control(name='book' required)
        option(value='') --書籍を選択してください--
        for book in book_list
          if selected_book==book._id.toString()
            option(value=book._id, selected) #{book.title}
          else
            option(value=book._id) #{book.title}

    div.form-group
      label(for='imprint') 出版情報:
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required value=(undefined===bookinstance ? '' : bookinstance.imprint) )
    div.form-group
      label(for='due_back') 貸出可能日:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_yyyy_mm_dd))

    div.form-group
      label(for='status') 状態:
      select#status.form-control(name='status' required)
        option(value='') --状態を選択してください--
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
          if undefined===bookinstance || bookinstance.status!=val 
            option(value=val)= val
          else
            option(value=val selected)= val

    button.btn.btn-primary(type='submit') 送信

  if errors
    ul
      for error in errors
        li!= error.msg
